<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="style/homepage_style.css">
  <style>
    #container {
      display: flex;
    }

    #d {
      height: 100px;
      width: 100px;
      background-color: lawngreen;
    }

    #i {
      bottom: 25px;
      right: 25px;
      transform: translate(50% 50%);
      position: absolute;
    }
  </style>
</head>

<body>
  <div id="d">
    <div id="i">
      <i data-visualcompletion="css-img" class="hu5pjgll lzf7d6o1"
        style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/y_/r/RgYUHJb54YS.png&quot;); background-position: 0px -92px; background-size: 26px 440px; width: 20px; height: 20px; background-repeat: no-repeat; display: inline-block;"></i>
    </div>
  </div>
</body>

</html>